.banner {
    position: relative;
    text-align: center;
    color: white;
    height: 10%;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  .banner-heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: black;
  }