.gallery {
  width: 80%; /* Full width of the container */
  height: 80vh; /* Adjust based on how much of the viewport you want the image to cover */
  margin: auto;
  /* overflow: hidden; Ensures no scroll bars appear */
  margin-top: 20px;
}

.carousel .carousel-item {
  text-align: center;
}

.teamh2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.carousel .carousel-item img {
  width: 100%; /* Full width of the carousel item */
  height: 100%; /* Full height of the carousel item */
  object-fit: cover; /* Cover the area without losing aspect ratio */
  display: block;
  margin: auto; /* Center the image */
}

@media (max-width: 768px) {
  .gallery {
    padding: 10px;
  }
}